.submit-bt{
	border-color: #0196a7;
}

.submit-bt{
	background: #0196a7;
}

.submit-bt:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	border-color: #017B89;
}


.submit-bt:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background: #017B89;
}