.submit-bt{
	border-color: #ea8825;
}

.submit-bt{
	background: #ea8825;
}

.submit-bt:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	border-color: #CD7113;;
}


.submit-bt:hover,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background: #CD7113;;
}