*{
 font-family: Helvetica; 
}

h2{
  text-align: center;
}

p{
  line-height: 1.2em;
}

table,td,th{
  padding: 5px;
  border: 2px solid black;
  border-collapse: collapse;
}
table{
  width: 400px;
}
th{
  background-color: blue;
  color: white;
}