div {
  background-color: violet;
  margin: 10px;
  height: 100px;
  width: 50px;
  text-align: center;
}

main{
  display: flex;
}
#two {
    flex-grow: 1;
}
#three {
    flex-grow: 2;
}
#four {
    flex-grow: 3;
}