div {
  height: 200px;
  width: 200px;
  margin: 5px;
  background-color: rgb(120, 4, 237);
  background-clip: border-box;
  box-shadow: 5px 5px 2em;
  text-align: center;
}

f-right {
  float: right;
}
.c-right {
    clear: right;
}
.c-left {
    clear: left;
}